body {
    font-family: "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "banner banner banner"
      "header header header"
      "nav nav nav"
      "sec1 sec1 sec1"
      "main1 main1 main1"
      "sec2 sec2 sec2"
      "main2 main2 main2"
      "sec3 sec3 sec3"
      "main3 main3 main3"
      "footer footer footer";
}
  
.banner {
    grid-area: banner;
    background: url("https://al.nd.edu/assets/380450/1000x562/bacs_code.jpg") center center no-repeat;
    background-size: cover;
}
  
.banner h1 {
    color: rgb(138, 43, 226);
    font-weight: bold;
  }
  
.header {
    grid-area: header;
    background: rgb(0, 0, 0);
    color: rgb(138, 43, 226);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 80px;
  }
  
.header header {
    overflow: auto;
  }
  
.nav {
    grid-area: nav;
    background: rgb(138, 43, 226);
  }
    
.nav ul li {
    display: inline;
  }
      
.nav a {
    display: inline-block;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
      
.nav a:hover {
    background: white;
  }
  
.sec1 {
    grid-area: sec1;
    background-color: purple;
    text-align: center;
  }
  
.main1 {
    grid-area: main1;
  }
  
main > .main1 {
      background: #aaa;
      display: flex;
      flex-wrap: wrap;
  }
  
main > .main1 > .project {
      flex-grow: 1;
      width: 33.33%;
  }
  
main > .main1 > .project:nth-child(even) {
      background: #23a;
  }
  
main > .main1 > .project:nth-child(odd) {
      background: #49b;
  }
   
img {
    max-width: 100%;
    height: auto;
  }
  
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
.sec2 {
    grid-area: sec2;
    background-color: purple;
    text-align: center;
  }
  
.main2 {
    grid-area: main2;
    background-color: yellow;
  }
  
.sec3 {
    grid-area: sec3;
    background-color: purple;
    text-align: center;
  }
  
.main3 {
    grid-area: main3;
    background-color: yellow;
  }
  
.footer {
    grid-area: footer;
    background: black;
    color: rgb(138, 43, 226);
    font-weight: bold;
    padding: 4px;
  }
  
  /* Responsive Design */
  
  @media (max-width: 800px) {
    
    .hamburger {
      background: none;
      top: auto;
      right: auto;
      line-height: 45px;
      color: #999;
      border: 0;
      font-size: 1.4em;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      z-index: 10000000000000;
    }
  
    .cross {
      background: none;
      top: 0px;
      right: auto;
      color: #999;
      border: 0;
      font-size: 3em;
      line-height: 65px;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      z-index: 10000000000000;
    }
  
    .nav {
      grid-area: nav;
      background: #f1f1f1;
      z-index: 1000000; 
      font-weight: bold; 
      font-size: 0.8em; 
      width: 100%; 		
      text-align: center;
      font-size: 12px;
    }
  
    .nav ul {
      margin: 0; 
      padding: 0; 
      list-style-type: none; 
      list-style-image: none;
    }
  
    .nav li {
      display: block;   
      padding: 15px 0 15px 0; 
    }
  
    .nav li:hover {
      display: block;    
      background: #ffffff; 
      padding: 15px 0 15px 0; 
    }
  
    .nav ul li a {
      text-decoration: none;  
      margin: 0px; 
      color: #666;
    }
  
    .nav ul li a:hover {
      color: #666; 
      text-decoration: none;
    }
  
    .nav a {
      text-decoration: none; 
      color: #666;
    }
  
    .nav a:hover {
      text-decoration: none; 
      color: #666;
    }  
    
    main > .nav > ul > a:before {
      content:'\2630';
      font-size: 24px;
    }  
    
  }
  