body {
    font-family: "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "banner banner banner"
      "header header header"
      "nav nav nav"
      "sec1 sec1 sec1"
      "main1 main1 main1"
      "sec2 sec2 sec2"
      "main2 main2 main2"
      "sec3 sec3 sec3"
      "main3 main3 main3"
      "footer footer footer";
}
  
.banner {
    grid-area: banner;
    background: url("https://al.nd.edu/assets/380450/1000x562/bacs_code.jpg") center center no-repeat;
    background-size: cover;
    height: 150px;
}
  
.header {
    grid-area: header;
    background: #fafafa;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 60px;
    /* border-bottom: 1px solid; */
  }
  
.header header {
    overflow: auto;
  }
  
.nav {
    grid-area: nav;
    background: #fafafa;
    /* border-bottom: 1px solid; */
  }
    
.nav ul li {
    display: inline;
  }
      
.nav a {
    display: inline-block;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
      
.nav a:hover {
    background: #1a73e8;
    color: #fafafa;
    padding: 0 10px 0 10px;
  }

  .hamburger{
    display: none;
  }
  
.sec1 {
    grid-area: sec1;
    background: #fafafa;
    color: black;
    text-align: center;
    border-bottom: 1px solid;
  }
  
.main1 {
    grid-area: main1;
  }
  
main > .main1 {
      background: #fafafa;
      display: flex;
      flex-wrap: wrap;
      /* justify-items: center; */
      /* align-items: center; */
  }
  
main > .main1 > .project {
      flex-grow: 1;
      width: 33.33%;
  }
  
main > .main1 > .project:nth-child(even) {
      /* background: #23a; */
      background: #fafafa;
  }
  
main > .main1 > .project:nth-child(odd) {
      /* background: #49b; */
      background: #fafafa;
  }


main > .main1 > .project:hover {
    background: #1a73e8;
    color: #fafafa;
    padding: 0 10px 0 10px;
}

   
img {
    max-width: 100%;
    height: auto;
  }
  
.sec2 {
    grid-area: sec2;
    background: #fafafa;
    color: black;
    text-align: center;
    border-bottom: 1px solid;
  }
  
.main2 {
    grid-area: main2;
    background-color: #fafafa;
  }
  
.sec3 {
    grid-area: sec3;
    background: #fafafa;
    color: black;
    text-align: center;
    border-bottom: 1px solid;
  }
  
.main3 {
    grid-area: main3;
    background-color: #fafafa;
    text-align: center;
  }
  
.footer {
    grid-area: footer;
    background: #fafafa;
    color: black;
    font-weight: bold;
    border-top: 1px solid;
  }
  
  /* Responsive Design */
  @media (max-width: 760px) {

    .responsive-menu{
      display: none;
     }
      
     .expand {
      display: grid;
      grid-template-columns: min-content;
      justify-content: center;
     }
    
    .hamburger {
      display: block;
      background: none;
      color: black;
      top: auto;
      right: auto;
      line-height: 45px;
      border: 0;
      font-size: 1.5em;
      font-weight: bold;
      cursor: pointer;
      outline: none;
    }
  
    .nav {
      grid-area: nav;
      background: #fafafa;
      z-index: 1000000; 
      font-weight: bold; 
      width: 100%; 		
      text-align: center;
      /* font-size: 12px; */
    }
  
    .nav ul {
      margin: 0; 
      padding: 0; 
      list-style-type: none; 
      list-style-image: none;
    }
  
    .nav li {
      display: block;  
      padding: 10px 0 10px 0;
    }
  
    .nav li:hover {
      display: block;    
      background: #1a73e8;
      color: #fafafa;
    }
  
    .nav ul li a {
      color: black;
      text-decoration: none;  
      margin: 0px; 
    }
  
    .nav ul li a:hover {
      text-decoration: none;
    }
   
main {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

}
  